# =========================
# LLM + LangChain
# =========================
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers

# =========================
# RAG / Documents
# =========================
pypdf
sentence-transformers
faiss-cpu


# =========================
# Environment / Configuration
# =========================
python-dotenv

# =========================
# HTTP / External APIs
# =========================
requests

# =========================
# API / Backend Server
# =========================
fastapi
uvicorn[standard]
python-multipart

# =========================
# Frontend / UI
# =========================
streamlit
