# =========================
# LLM + LangChain
# =========================
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

# =========================
# RAG / Documents
# =========================
pypdf
sentence-transformers
faiss-cpu
docx2txt
unstructured
rank-bm25

# =========================
# Environment / Configuration
# =========================
python-dotenv

# =========================
# HTTP / External APIs
# =========================
requests

# =========================
# API / Backend Server
# =========================
fastapi
uvicorn[standard]
python-multipart

# =========================
# Frontend / UI
# =========================
streamlit
